DIV.version {text-align: right ; font-style: italic }
TD.aligned  {vertical-align: top ; padding-right: 1em }
H3 { font-size: 10pt; font-weight: bold; font-style: italic;
     padding: 0pt; margin: 1.5ex 0pt 0pt 0pt; }
