div.version {
    text-align: right;
    font-style: italic;
}

td.aligned {
    vertical-align: top;
    padding-right: 1em;
}

h1 {
    border-style: none none solid none;
    border-color: #437291;
    border-width: 2px;
    background: #f4f8ff;
}

p ~ h1 {
    margin-top: 2em;
}

/* Spacing between consecutive code blocks */
pre ~ pre {
    margin-top: 1em;
}

/* Code blocks */
pre > code {
    border: 1px solid #cccccc;
    background: #fcfcff;
    display: block;
    padding: .5em;
    margin: 0em;
}

/* Info boxes */
.box {
    margin: 1em 0em;
    padding: 0 0 .5em .5em;
    background: #f4f8ff;
    border-left: 5px solid #437291;
}

.boxheader {
    font-weight: bold;
    padding-top: 0px;
    margin-bottom: .5em;
    color: #437291;
}

table {
    border-spacing: 0px;
}

td.dictionary {
    padding: 1em;
    vertical-align: top;
}

td {
  border-style: solid none none none;
  border-width: 1px;
  border-color: #ccc;
}

strong > code {
    white-space: nowrap;
    color: #060;
}
